<?xml version='1.0' encoding='utf-8'?>
<widget id="com.qet.eazzypos" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>EazzyPos</name>
    <description>
        A Retail Point of Sale Application.
    </description>
    <author email="info@qet.co.ke" href="http://cordova.io">
        QET SYSTEMS LTD
    </author>
    <content src="index.html" />
    <access origin="*" />
     <icon src="www/images/icon.png" />
     <plugin spec="https://github.com/srehanuddin/Cordova-Plugin-Bluetooth-Printer.git" source="git" />
</widget>
